:root {
  /* Primary */
  --scissors-gradient-top: hsl(39, 89%, 49%);
  --scissors-gradient-bottom: hsl(40, 84%, 53%);
  --paper-gradient-top: hsl(230, 89%, 62%);
  --paper-gradient-bottom: hsl(230, 89%, 65%);
  --rock-gradient-top: hsl(349, 71%, 52%);
  --rock-gradient-bottom: hsl(349, 70%, 56%);
  --lizard-gradient-top: hsl(261, 73%, 60%);
  --lizard-gradient-bottom: hsl(261, 72%, 63%);
  --spock-gradient-top: hsl(189, 59%, 53%);
  --spock-gradient-bottom: hsl(189, 58%, 57%);
  /* Neutral */
  --white-text: #fff;
  --dark-text: hsl(229, 25%, 31%);
  --score-text: hsl(229, 64%, 46%);
  --header-outline: hsl(217, 16%, 45%);
  /* Background */
  --radial-gradient-top: hsl(214, 47%, 23%);
  --radial-gradient-bottom: hsl(237, 49%, 15%);
}

body {
  font-family: 'Barlow Semi Condensed', sans-serif;
  background-image: radial-gradient(
    ellipse at top,
    var(--radial-gradient-top),
    var(--radial-gradient-bottom)
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: var(--white-text);
  padding: 0;
  margin: 0;
  text-align: center;
}

/* Containers */
.container-padding {
  padding: 2rem 10%;
}

/* Header */
.title-container {
  border: 3px solid var(--header-outline);
  border-radius: 1.5rem;
  padding: 1rem 2rem;
  box-sizing: border-box;
  display: flex;
  max-width: 700px;
  margin: auto;
}

.logo {
  margin-right: auto;
}

.score {
  background-color: var(--white-text);
  padding: 0 3rem;
  border-radius: 0.7rem;
}

.score-label {
  color: var(--score-text);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.score-value {
  color: var(--dark-text);
  font-size: 4rem;
  margin: 0;
  line-height: 2rem;
}

/* Middle sections visibility */
#middle-section-main {
  display: inherit;
}

#middle-section-game {
  clear: both;
  display: inherit;
}

/* Middle section main */
.game-board {
  position: relative;
  background-image: url(../images/bg-pentagon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 3rem auto;
  height: 400px;
  width: 400px;
}

.game-board button {
  position: absolute;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 100%;
  width: 140px;
  height: 140px;
}

.game-board button:focus {
  outline: none;
}

.game-board button:hover {
  cursor: pointer;
}

.game-board button:active {
  transform: scale(0.99);
}

.scissors-button {
  bottom: 80%;
  left: 50%;
  transform: translate(-50%, 0);
}

.game-board .scissors-button:active {
  transform: translate(-50%, 0) scale(0.99);
}

.paper-button {
  left: 75%;
  top: 20%;
}

.spock-button {
  right: 75%;
  top: 20%;
}

.lizard-button {
  right: 60%;
  top: 75%;
}

.rock-button {
  left: 60%;
  top: 75%;
}

.icon-bg {
  position: relative;
  background-color: var(--white-text);
  border-radius: inherit;
  border: none;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

#middle-section-main button .icon-bg {
  padding: 1.5rem;
  box-shadow: inset 0 7px 0 -1px rgba(0, 0, 0, 0.1);
}

.border-div {
  position: relative;
  border-radius: inherit;
  border: none;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

#middle-section-main button .border-div {
  padding: 1rem;
  box-shadow: inset 0 -7px 0 -1px rgba(0, 0, 0, 0.3);
}

#middle-section-main button:active .icon-bg {
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.1);
}

#middle-section-main button:active .border-div {
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.3);
}

.border-scissors {
  background: linear-gradient(
    var(--scissors-gradient-top),
    var(--scissors-gradient-bottom)
  );
}

.border-spock {
  background: linear-gradient(
    var(--spock-gradient-top),
    var(--spock-gradient-bottom)
  );
}

.border-paper {
  background: linear-gradient(
    var(--paper-gradient-top),
    var(--paper-gradient-bottom)
  );
}

.border-lizard {
  background: linear-gradient(
    var(--lizard-gradient-top),
    var(--lizard-gradient-bottom)
  );
}

.border-rock {
  background: linear-gradient(
    var(--rock-gradient-top),
    var(--rock-gradient-bottom)
  );
}

.icon {
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* Middle section game */
.game-div-container {
  display: flex;
  justify-content: space-around;
  align-content: stretch;
  align-items: center;
  max-width: 700px;
  margin: auto;
  flex-flow: row wrap;
}

.game-div-label {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.35rem;
  letter-spacing: 0.2rem;
}

.game-div {
  border-radius: 100%;
  height: 230px;
  width: 230px;
  margin: auto;
}

.game-icon {
  height: 100px;
}

#middle-section-game .icon-bg {
  padding: 1rem;
  box-shadow: inset 0 10px 0 -1px rgba(0, 0, 0, 0.1);
}

#middle-section-game .border-div {
  padding: 1.7rem;
  box-shadow: inset 0 -10px 0 -1px rgba(0, 0, 0, 0.3);
}

.result-container {
  visibility: initial;
}

.result-text {
  text-transform: uppercase;
  font-size: 4.5rem;
  letter-spacing: 0.1rem;
  margin: 2rem 0 1rem;
}

.play-button {
  text-transform: uppercase;
  background-color: var(--white-text);
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 1.3rem;
  padding: 1rem 5rem;
  letter-spacing: 0.2rem;
  border-radius: 1rem;
  box-shadow: none;
  border: none;
  color: var(--radial-gradient-top);
}

.play-button:hover {
  cursor: pointer;
}

.play-button:active {
  transform: scale(0.99);
}

.play-button:focus {
  outline: none;
}

/* Rules button */
.rules-button {
  text-transform: uppercase;
  background-color: transparent;
  color: var(--white-text);
  border: 2px solid var(--header-outline);
  box-shadow: none;
  padding: 0.5rem 3rem;
  font-size: 1rem;
  border-radius: 0.7rem;
  letter-spacing: 0.1rem;
  transform: scale(1, 1.2);
  float: right;
  margin: 3rem 0 1rem;
  position: relative;
  left: 8%;
}

.rules-button:hover {
  cursor: pointer;
}

.rules-button:focus {
  outline: none;
}

/* Rules */
#rules {
  clear: both;
}

.rules-background {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.rules-container {
  position: fixed;
  background-color: var(--white-text);
  padding: 3rem 0;
  width: 100%;
  margin: auto;
  max-width: 600px;
  border: none;
  border-radius: 1rem;
  left: 50%;
  top: 10%;
  transform: translate(-50%, 0);
}

.rules-container h2 {
  float: left;
  font-size: 2rem;
  text-transform: uppercase;
  color: var(--dark-text);
  margin: 0;
  line-height: 1rem;
  position: relative;
  left: 2rem;
}

.rules-image {
  clear: both;
  display: block;
  margin: 3rem auto;
  height: auto;
  max-width: 90%;
}

.close-icon {
  float: right;
  position: relative;
  right: 2rem;
}

.close-icon:hover,
.close-icon:focus {
  cursor: pointer;
}

/* Footer */
#footer {
  clear: both;
}

.attribution {
  font-family: sans-serif;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Media query */
@media (max-width: 611px) {
  .container-padding {
    padding: 1rem 10%;
  }

  .title-container {
    width: 100%;
    border-radius: 0.8rem;
  }

  .logo {
    height: 80px;
  }

  .score {
    padding: 0 1.5rem;
  }

  .score-label {
    font-size: 0.8rem;
  }

  .score-value {
    font-size: 2rem;
    line-height: 1rem;
  }

  .game-board {
    height: 220px;
    width: 220px;
  }

  .game-board button {
    height: 100px;
    width: 100px;
  }

  #middle-section-main button .border-div {
    padding: 0.7rem;
    box-shadow: inset 0 -5px 0 -1px rgba(0, 0, 0, 0.3);
  }

  #middle-section-main button .icon-bg {
    box-shadow: inset 0 5px 0 -1px rgba(0, 0, 0, 0.1);
  }

  #middle-section-main .icon {
    height: 40px;
  }

  .game-div-label {
    font-size: 0.8rem;
  }

  .game-div {
    height: 120px;
    width: 120px;
  }

  .game-icon {
    height: 50px;
  }

  #middle-section-game .icon-bg {
    padding: 1rem;
    box-shadow: inset 0 5px 0 -1px rgba(0, 0, 0, 0.1);
  }

  #middle-section-game .border-div {
    padding: 0.8rem;
    box-shadow: inset 0 -5px 0 -1px rgba(0, 0, 0, 0.3);
  }

  .rules-button {
    font-size: 0.8rem;
    padding: 0.4rem 2rem;
    border-radius: 0.5rem;
    position: static;
    float: none;
  }
}
