:root {
  /* Primary */
  --scissors-gradient-top: hsl(39, 89%, 49%);
  --scissors-gradient-bottom: hsl(40, 84%, 53%);
  --paper-gradient-top: hsl(230, 89%, 62%);
  --paper-gradient-bottom: hsl(230, 89%, 65%);
  --rock-gradient-top: hsl(349, 71%, 52%);
  --rock-gradient-bottom: hsl(349, 70%, 56%);
  --lizard-gradient-top: hsl(261, 73%, 60%);
  --lizard-gradient-bottom: hsl(261, 72%, 63%);
  --spock-gradient-top: hsl(189, 59%, 53%);
  --spock-gradient-bottom: hsl(189, 58%, 57%);
  /* Neutral */
  --white-text: #fff;
  --dark-text: hsl(229, 25%, 31%);
  --score-text: hsl(229, 64%, 46%);
  --header-outline: hsl(217, 16%, 45%);
  /* Background */
  --radial-gradient-top: hsl(214, 47%, 23%);
  --radial-gradient-bottom: hsl(237, 49%, 15%);
}

body {
  font-family: 'Barlow Semi Condensed', sans-serif;
  background: radial-gradient(
      ellipse at top,
      var(--radial-gradient-top),
      var(--radial-gradient-bottom)
    )
    no-repeat fixed;
  color: var(--white-text);
  text-align: center;
  height: 100%;
  margin: 0;
  padding: 0;
  user-select: none;
  text-transform: uppercase;
  white-space: nowrap;
}

/* Containers */
.container-padding {
  padding: 2rem 10%;
}

/* Header */
.title-container {
  border: 3px solid var(--header-outline);
  border-radius: 1.5rem;
  padding: 1rem 2rem;
  box-sizing: border-box;
  display: flex;
  max-width: 700px;
  margin: auto;
}

.logo {
  margin-right: auto;
}

.score {
  background: var(--white-text);
  padding: 0 3rem;
  border-radius: 0.7rem;
}

.score-label {
  color: var(--score-text);
  letter-spacing: 0.1rem;
}

.score-value {
  color: var(--dark-text);
  font-size: 4rem;
  margin: 0;
  line-height: 2rem;
  transition: opacity 0.5s ease-in-out;
}

/* Middle sections visibility */
#middle-section-main {
  display: block;
  transition: opacity 0.5s ease-in-out;
  height: 550px;
}

#middle-section-game {
  display: none;
  transition: opacity 0.5s ease-in-out;
  height: 550px;
}

/* Middle section main */
.game-board-box {
  position: relative;
  width: 100%;
  max-height: 320px;
  max-width: 320px;
  margin: 3rem auto 1rem;
}

.game-board-box::before {
  content: '';
  display: block;
  padding-top: 100%;
}

.game-board-content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  background: url(../images/bg-pentagon.svg) no-repeat center/contain;
}

.game-board-content button {
  display: block;
  position: absolute;
  padding: 0;
  border: none;
  border-radius: 100%;
  width: 100%;
  height: 100%;
  max-width: 140px;
  max-height: 140px;
}

.game-board-content button:focus {
  outline: none;
}

.game-board-content button:hover {
  cursor: pointer;
}

.game-board-content button:active {
  transform: scale(0.99);
}

.scissors-button {
  bottom: 75%;
  left: 50%;
  transform: translate(-50%, 0);
}

.game-board-content .scissors-button:active {
  transform: translate(-50%, 0) scale(0.99);
}

.paper-button {
  left: 73%;
  top: 18%;
}

.spock-button {
  right: 73%;
  top: 18%;
}

.lizard-button {
  right: 60%;
  top: 75%;
}

.rock-button {
  left: 60%;
  top: 75%;
}

.icon-bg {
  display: block;
  position: relative;
  background: var(--white-text);
  border-radius: inherit;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  box-shadow: inset 0 6px 0 -1px rgba(0, 0, 0, 0.1);
}

.border-div {
  display: block;
  position: relative;
  border-radius: inherit;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.border-div {
  padding: 10%;
  box-shadow: inset 0 -6px 0 -1px rgba(0, 0, 0, 0.3);
}

button:active .icon-bg {
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.1);
}

button:active .border-div {
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2);
}

.border-S {
  background: linear-gradient(
    var(--scissors-gradient-top),
    var(--scissors-gradient-bottom)
  );
}

.border-K {
  background: linear-gradient(
    var(--spock-gradient-top),
    var(--spock-gradient-bottom)
  );
}

.border-P {
  background: linear-gradient(
    var(--paper-gradient-top),
    var(--paper-gradient-bottom)
  );
}

.border-L {
  background: linear-gradient(
    var(--lizard-gradient-top),
    var(--lizard-gradient-bottom)
  );
}

.border-R {
  background: linear-gradient(
    var(--rock-gradient-top),
    var(--rock-gradient-bottom)
  );
}

.icon {
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* Middle section game */
.game-div-container {
  display: flex;
  max-width: 700px;
  margin: auto;
}

.game-div-container div {
  margin: auto;
}

.game-div-label {
  font-weight: 600;
  font-size: 1.35rem;
  letter-spacing: 0.2rem;
  margin: 2rem 0;
}

.game-icon-size {
  height: 230px;
  width: 230px;
}

.game-div {
  border-radius: 100%;
  margin: 0;
}

.house-background {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 100%;
}

.game-div-house {
  display: block;
  transition: all 0.6s ease-in-out;
  transform: scale(0);
  opacity: 0;
}

.game-icon {
  height: 100px;
}

.result-container {
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.result-text {
  font-size: 4.5rem;
  letter-spacing: 0.1rem;
  margin: 2rem 0 1rem;
}

.play-button {
  text-transform: inherit;
  background: var(--white-text);
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 1.3rem;
  padding: 1rem 5rem;
  letter-spacing: 0.2rem;
  border-radius: 1rem;
  box-shadow: none;
  border: none;
  color: var(--radial-gradient-top);
}

.play-button:hover {
  cursor: pointer;
}

.play-button:active {
  transform: scale(0.99);
}

.play-button:focus {
  outline: none;
}

/* Rules button */
.rules-button {
  background: transparent;
  color: var(--white-text);
  border: 2px solid var(--header-outline);
  box-shadow: none;
  padding: 0.5rem 2.5rem;
  font-size: 0.9rem;
  border-radius: 0.5rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
  margin-bottom: 3rem;
  text-transform: inherit;
}

.rules-button:hover {
  cursor: pointer;
}

.rules-button:focus {
  outline: none;
}

/* Rules */
.rules-background {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.4);
}

.rules-container {
  position: fixed;
  background: var(--white-text);
  padding: 3rem 0;
  width: 100%;
  margin: auto;
  max-width: 460px;
  border-radius: 1rem;
  left: 50%;
  top: 15%;
  transform: translate(-50%, 0);
}

.rules-container h2 {
  float: left;
  font-size: 1.5rem;
  color: var(--dark-text);
  margin: 0;
  line-height: 1rem;
  position: relative;
  left: 2rem;
}

.rules-image {
  clear: both;
  display: block;
  margin: 3rem auto;
  height: auto;
  max-width: 90%;
}

.close-icon {
  float: right;
  position: relative;
  right: 2rem;
  bottom: 2px;
  height: 22px;
  width: 22px;
}

.close-icon:hover,
.close-icon:focus {
  cursor: pointer;
}

/* Footer */
.attribution {
  font-family: sans-serif;
  font-size: 11px;
  text-align: center;
  text-transform: none;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Media query */
@media (max-width: 550px) {
  .container-padding {
    padding: 1rem 10%;
  }

  .title-container {
    width: 100%;
    border-radius: 0.8rem;
  }

  .logo {
    height: 80px;
  }

  .score {
    padding: 0 1.5rem;
  }

  .score-label {
    font-size: 0.8rem;
  }

  .score-value {
    font-size: 2rem;
    line-height: 1rem;
  }

  .game-board-content {
    height: 220px;
    width: 220px;
  }

  .game-board-content button {
    height: 100px;
    width: 100px;
  }

  #middle-section-main .icon {
    height: 40px;
  }

  .rules-main {
    margin: 3rem 0 1rem;
  }

  #middle-section-main,
  #middle-section-game {
    height: 450px;
  }

  .game-icon {
    height: 50px;
  }

  .game-icon-size {
    height: 120px;
    width: 120px;
  }

  .game-div-label {
    font-size: 0.8rem;
  }
}

@media (min-width: 551px) and (max-width: 691px) {
  .game-icon {
    height: 65px;
  }

  .game-icon-size {
    height: 170px;
    width: 170px;
  }

  .game-div-label {
    font-size: 1.1rem;
  }
}
